<div class='row mb-2'>
  <div class='col-8'>
    <h1 class='display-4'>Tarefas</h1>
  </div>
  

  <% if @tasks.any? %>
    <table class='table table-borderless'>
      <thead>
        <tr>
          <th class='tam_text align-middle'>Descrição</th>
          <th class='tam_text align-middle text-center'>Prazo</th>
          <th class='text-end align-middle pe-0'>
            <%= link_to '+ Tarefas', new_task_path, class: 'btn btn-success' %>
          </th>
        </tr>
      </thead>
 
      <tbody>
        <% @tasks.each do |task| %>
          <%= render 'table_row', task: task %>

          <% task.sub_tasks.order(:due_date).each do |sub_task| %>
            <%= render 'table_row', task: sub_task %>
          <% end %>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <p>Nenhuma tarefa foi cadastrada.</p>
    <%= link_to '+ Tarefas', new_task_path, class: 'btn btn-success' %>
  <% end %>
</div>
